@model paty22.Models.PedidoPagoViewModel

@{
    ViewData["Title"] = "Confirmar Pedido";
}

<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        color: #333;
    }
    .precio{
        margin:2px;
    }
    .container {
        display: flex;
        justify-content: space-between;
        margin: 40px auto;
        padding: 20px;
        max-width: 1200px;
    }

    .cliente-container {
        width: 65%;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    .pedido-container {
        width: 30%;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    h3 {
        color: #2d2d2d;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }

    ..pedido-item {
        display: flex;
        flex-direction: column; 
        justify-content: flex-start; 
        padding: 10px 0;
        border-bottom: 1px solid #e0e0e0;
    }

    .pedido-item .producto-info {
        flex: 1;
        padding-left: 10px;
    }

    .pedido-item .precio {
        font-weight: bold;
        font-size: 1.2rem;
        color: #333;
        margin-top: 10px; 
        text-align: left; 
    }


  

    .form-group {
        margin-bottom: 15px;
    }

    label {
        font-size: 1.1rem;
        font-weight: bold;
        color: #444;
    }

    input, select {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        color: #333;
        border-radius: 8px;
        border: 1px solid #ccc;
        margin-top: 5px;
        background-color: #f7f7f7;
    }

        input:focus, select:focus {
            border-color: #007bff;
            outline: none;
        }

    .btn {
        display: block;
        width: 100%;
        padding: 12px;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 1.1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .btn:hover {
            background-color: #555;
        }

    .pedido-item:last-child {
        border-bottom: none;
    }

 
    .total-container {
        margin-top: 20px; 
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
        text-align: center;
        padding: 15px 0;
        border-top: 2px solid #e0e0e0; 
    }


    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        background-color: #fff;
        margin: 10% auto;
        padding: 20px;
        border-radius: 8px;
        width: 40%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    .btn-secondary {
        background-color: #bbb;
        color: #fff;
    }
</style>


<div class="container">

  
    <div class="cliente-container">
        <h3>Información de Contacto</h3>
        <form method="post" asp-action="ConfirmarCompra">
            <div class="form-group">
                <label for="Nombre">Nombre:</label>
                <input type="text" id="Nombre" name="Nombre" value="@Model.Nombre" required />
            </div>
            <div class="form-group">
                <label for="Telefono">Teléfono:</label>
                <input type="text" id="Telefono" name="Telefono" value="@Model.Telefono" required />
            </div>
            <div class="form-group">
                <label for="Direccion">Dirección:</label>
                <input type="text" id="Direccion" name="Direccion" value="@Model.Direccion" required />
            </div>

        
            <div class="form-group">
                <label for="PagoMetodo">Método de Pago:</label>
                @Html.DropDownListFor(
                         model => model.Pago.MetodoPago,
                         new List<SelectListItem>
                {
                new SelectListItem { Text = "Seleccione un método de pago", Value = "" },
                new SelectListItem { Text = "Tarjeta", Value = "Tarjeta" },
                new SelectListItem { Text = "Efectivo", Value = "Efectivo" },
                new SelectListItem { Text = "PayPal", Value = "PayPal" },
                new SelectListItem { Text = "Bit-Coin", Value = "Bit-Coin" }
                },
                       
                         new { @class = "form-control", @id = "PagoMetodo", onchange = "mostrarModal()" }
                         )
            </div>

           
          

         
            <input type="hidden" id="HiddenNumeroTarjeta" name="NumeroTarjeta" />
            <input type="hidden" id="HiddenFechaExpiracion" name="FechaExpiracion" />
            <input type="hidden" id="HiddenCVV" name="CVV" />

         
            <button type="submit" class="btn">Confirmar Compra</button>
        </form>
    </div>

    <div class="pedido-container">
        <h3>Detalles de tu Pedido</h3>
        <div>
            @if (Model.PedidoProductos != null && Model.PedidoProductos.Any())
            {
                decimal totalPedido = 0;  

                @foreach (var pedidoProducto in Model.PedidoProductos)
                {
                
                    var cantidad = pedidoProducto.Cantidad ?? 0;  
                    var precio = pedidoProducto.Producto.Precio ;  

                    <div class="pedido-item">
                        <div class="producto-info">
                            <p><strong>Producto:</strong> @pedidoProducto.Producto.Nombre</p>
                            <p><strong>Cantidad:</strong> @cantidad</p>
                            <p><strong>Precio Unitario:</strong> @precio.ToString("C", new System.Globalization.CultureInfo("es-CL"))</p>
                        </div>
                      
                        <div class="precio">
                            <p>
                                Total: @string.Format(new System.Globalization.CultureInfo("es-CL"), "{0:C}", cantidad * precio)
                            </p>
                        </div>
                    </div>

                    // Sumar el total de cada producto
                    totalPedido += cantidad * precio;
                }

                <div class="total-container">
                    <p><strong>Total del Pedido:</strong> @string.Format(new System.Globalization.CultureInfo("es-CL"), "{0:C}", totalPedido)</p>
                </div>
            }
            else
            {
                <p>No hay productos en el pedido.</p>
            }
        </div>
    </div>


                    
       

</div>

<div class="modal" id="TarjetaModal">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Detalles de la Tarjeta</h5>
          
            <button type="button" class="close" aria-label="Cerrar" onclick="cerrarModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="NumeroTarjeta">Número de Tarjeta:</label>
                <input type="text" class="form-control" id="NumeroTarjeta" />
            </div>
            <div class="form-group">
                <label for="FechaExpiracion">Fecha de Expiración (MM/AAAA):</label>
                <input type="text" class="form-control" id="FechaExpiracion" />
            </div>
            <div class="form-group">
                <label for="Cvv">CVV:</label>
                <input type="text" class="form-control" id="Cvv" />
            </div>
        </div>
        <div class="modal-footer">
          
            <button type="button" class="btn btn-secondary" id="cerrarModalBtn">Cerrar</button>
            <button type="button" class="btn btn-primary" id="GuardarDatosTarjeta">Guardar</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        function mostrarModal() {
            var metodoPago = document.getElementById("PagoMetodo").value;  
            const modal = document.getElementById("TarjetaModal");

            if (metodoPago === "Tarjeta") {
                modal.style.display = "block"; 
            } else {
                modal.style.display = "none"; 
            }
        }

        
        const pagoMetodoSelect = document.getElementById("PagoMetodo");
        pagoMetodoSelect.addEventListener("change", mostrarModal);

     
        function cerrarModal() {
            const modal = document.getElementById("TarjetaModal");
            modal.style.display = "none"; 
        }

       
        const closeBtn = document.querySelector(".close");
        closeBtn.addEventListener("click", cerrarModal); 

 
        const cerrarBtn = document.getElementById("cerrarModalBtn");
        cerrarBtn.addEventListener("click", cerrarModal); 

   
        window.onclick = function (event) {
            const modal = document.getElementById("TarjetaModal");
            if (event.target === modal) {
                cerrarModal(); 
            }
        };

       
        const guardarBtn = document.getElementById("GuardarDatosTarjeta");

        guardarBtn.addEventListener("click", function () {
            const numeroTarjeta = document.getElementById("NumeroTarjeta").value;
            const fechaExpiracion = document.getElementById("FechaExpiracion").value;
            const cvv = document.getElementById("Cvv").value;

            if (!numeroTarjeta || !fechaExpiracion || !cvv) {
                alert("Por favor, complete todos los campos.");
                return;
            }

            document.getElementById("HiddenNumeroTarjeta").value = numeroTarjeta;
            document.getElementById("HiddenFechaExpiracion").value = fechaExpiracion;
            document.getElementById("HiddenCVV").value = cvv;

            document.forms[0].submit(); 
            cerrarModal(); 
        });
    });

</script>